
/* Global */
body{
  padding:0;
  margin:0;
}

.container{
  width:70%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

/* Header **/
.header-container {
	width: 100%;
	background:#348CB2;
	color:#ffffff;
	padding-top:30px;
	border-bottom:#e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header a:hover{
  color:#000000;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header {
	width: 30%;
}

header > .branding {
  float:left;
  width: 30%;
}

header > .branding h1{
  margin:0;
  color:#ffffff;
}

header nav{
  float:right;
}


/* Figures in posts */
figure.image {
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;
	border: thin silver solid;
	padding: 0.5em;
	margin-bottom: 8px;
	width: 60%;
	height: 60%;
}


/* Media Queries */
@media(max-width: 768px){
  header > .branding,
  header nav,
  header nav li{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }
}