Vícedílný cyklus výpisků:
<ul>
    <li><a href = "/Books">První část</a></li>
    <li><a href = "/Books2">Druhá část</a></li>
    <li><a href = "/Books3">Třetí část</a></li>
    <li><a href = "/Books4">Čtvrtá část</a></li>
    <li><a href = "/Books5">Pátá část</a></li>
    <li><a href = "/Books6">Šestá část</a></li>
    <li><a href = "/Books7">Sedmá část</a></li>
    <li><a href = "/Books8">Osmá část</a></li>
    <li><a href = "/Books9">Devátá část</a></li>
    <li><a href = "/Books10">Desátá část</a></li>
    <li><a href = "/Books11">Jedenáctá část</a></li>
    <li><a href = "/Books12">Dvanáctá část</a></li>
    <li><a href = "/Books1š">Třináctá část</a></li>

</ul>
