Další moje cestování:

<ul>
    <li><a href = "/Barcelona">Barcelona 2018</a></li>
    <li><a href = "/Italy2019">Italy 2019</a></li>
    <li><a href = "/Malta2019">Malta 2019</a></li>
    <li><a href = "/England2019">Bournemouth 2019</a></li>
    <li><a href = "/Seattle2019">Seattle a Portland 2019</a></li>
    <li><a href = "/Krakov">Krakov a Ostrava 2019</a></li>
    <li><a href = "/Maroko">Maroko 2020</a></li>
    <li><a href = "/Riga">Riga 2020</a></li>
    <li><a href = "/Croatia2020">Chorvatsko 2020</a></li>
</ul>
