<!-- Dynamic Navigation Menu -->
<nav class="main-navigation">
  <ul>
    <li><a href="{{ site.baseurl }}/" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
    <li><a href="{{ site.baseurl }}/machine_learning/" {% if page.url == "/machine_learning/" %}class="active"{% endif %}>Blog</a></li>
    <li><a href="{{ site.baseurl }}/about" {% if page.url == "/about/" %}class="active"{% endif %}>About Me</a></li>
    <li><a href="https://petr.budaktivni.cz/en" target="_blank">New Personal Pages</a></li>
  </ul>
</nav>
