<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/syntax.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/minor.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/lightbox.min.css">

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    {% seo %}
  </head>

  <body>
    <div class="wrapper-masthead">
        <header class="top-container">
          <h1><a href="{{ site.baseurl }}/"><b>{{ site.name }}</b></a></h1>
          <h2><a href="{{ site.baseurl }}/blog">{{ site.description }}</a></h2>
          <h2><a href="{{ site.baseurl }}/about"><b>About ME</b></a></h2>
        </header>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script src="{{ site.baseurl }}/js/lightbox-plus-jquery.min.js"></script>
    {% include analytics.html %}

  </body>
</html>
